version: '3.8'

services:
  database:
    image: postgres:15-alpine
    container_name: pgsql-seletivo-seplag
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: seletivoseplag
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d seletivoseplag"]
      interval: 10s
      timeout: 5s
      retries: 5