version: '3.8'

services:
  database:
    image: postgres:15-alpine
    container_name: pgsql-seletivo-seplag
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: seletivoseplag
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d seletivoseplag"]
      interval: 10s
      timeout: 5s
      retries: 5

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      # Porta da Interface Visual (UI) - Acesse em http://localhost:16686
      - "16686:16686"
      # Porta para receber dados via OTLP gRPC (Padrão do Quarkus)
      - "4317:4317"
      # Porta para receber dados via OTLP HTTP (Opcional, mas bom ter)
      - "4318:4318"
      # Porta para métricas do próprio Jaeger (Opcional)
      - "14269:14269"
    environment:
      - COLLECTOR_OTLP_ENABLED=true